body{
background: linear-gradient(135deg,#667eea,#764ba2);
min-height:100vh;
font-family: Arial;
}

.card{
border-radius:15px;
}

h2{
font-weight:bold;
}

input{
border-radius:10px;
}

button{
border-radius:10px;
font-weight:bold;
}

table{
background:white;
border-radius:10px;
overflow:hidden;
}